[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = US
ST = California
L = San Jose
O = Nutanix Inc.
OU = Manageability
CN = prism.nutanix.local

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = prism.nutanix.local
IP.1 = 10.55.39.7
